<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Some Website</title>
</head>

<body>
    {{> header}}

    <ul>
        {{#each projectList}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    
    {{> footer}}
</body>

</html>